body {
	background-image: url("https://raw.githubusercontent.com/PuppiizSunniiz/Arknight-Images/refs/heads/main/ui/chara/bg2.png");
	background-size: 100%;
	margin: 0;
	height: 100vh;
	width: 100vw;
}
