:root {
    /* Backgrounds */
    --bg-main: #2a2a2a;
	--bg-secondary: #1f1f1f;
	--bg-box: #333333;
    --bg-header: #000000;

    /* Text */
    --text-primary: whitesmoke;
    --text-label: #bbbbbb;

    /* Accents & UI */
    --color-accent: hsl(200, 80%, 50%);
    --color-border: #444444;

	--color-kw: hsl(200, 100%, 60%);
	--color-vdown: hsl(20, 100%, 60%);
	--color-rem: hsl(40, 100%, 60%);

    /* Rarity Colors */
	--star-color: hsl(50, 100%, 45%);
    --rarity-0: hsl(0, 0%, 30%);
    --rarity-1: hsl(0, 0%, 100%);
    --rarity-2: hsl(60, 100%, 50%);
    --rarity-3: hsl(210, 100%, 50%);
    --rarity-4: hsl(266, 70%, 65%);
    --rarity-5: hsl(40, 100%, 50%);
    --rarity-6: hsl(20, 100%, 50%);
}
